<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-model</title>
  <style>
    body {
      padding-bottom: 200px;
    }
  </style>
</head>

<body>
  <div id="app">
    基本用法: <br>
    <input type="text" v-model='msg' placeholder="edit me"> <span> 输入:{{msg}} </span>
    <textarea name="" id="" cols="30" rows="10" v-model='msg'></textarea>
    <!-- 官方:在文本区域插值无效?实际有效 -->
    <hr>
    <div>
      <span style="color:red">单个单选框(v-bind绑定布尔值):</span> <br>
      <input type="radio" id="checkbox" v-bind:checked="checked">
      <label for="checkbox">{{ checked }}</label>
    </div>
    <div>
      <h4>多个单选框</h4>
      <input type="radio" name='tools' value="pen" v-model='tool'>pen<br>
      <input type="radio" name='tools' value="pencil" v-model='tool'>pencil<br>
      <input type="radio" name='tools' value="brush" v-model='tool'>brush<br>
      this is my {{tool}}
    </div>
    <hr>

    <div>
      <h3>复选框</h3>
      <h4>单个复选框</h4>
      <input type="checkbox" name="" id="" value="钱" v-model='need'><span>是否需要 {{need}} </span>
      <br>
      <h5>多个复选框</h5>
      <input type="checkbox" name="" id="" value='apple' v-model='fruit'>苹果<br>
      <input type="checkbox" name="" id="" value='orange' v-model='fruit'>橘子<br>
      <input type="checkbox" name="" id="" value='banana' v-model='fruit'>香蕉<br>
      选择是 {{fruit}}
    </div>
    <hr>

    <div>
      <h3>下拉框</h3>
      <h4>单选下拉框</h4>
      <select v-model='answer'>
        <option value="A" name='answer'>A</option>
        <option value="B" name='answer'>B</option>
        <option value="C" name='answer'>C</option>
        <option value="D" name='answer'>D</option>
      </select>
      The select is {{answer}}
    </div>

    <div>
      <h4>多选下拉框</h4>
      <select v-model='answers' multiple>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
      The selects are {{answers}}
    </div>

    <h3 style="color:red">单选时初始值最好给字符串,多选时初始化值最好给数组</h3>
    <h4>v-for动态渲染options见<a href="https://cn.vuejs.org/v2/guide/forms.html">表单&v-model</a></h4>


    <hr>
    <div>
        <h3>修饰符</h3>
        <input type="text" v-model.lazy='test'> .lazy 懒 加载<span> {{test}} </span><br>
        <input type="text" v-model.number='test1'> .number 将输入的字符串中的数字自动转换成数字类型 <span> {{    typeof test1}} </span><br>
        <input type="text" v-model.trim='test2'> .trim 自动过滤首尾输入的空格 <span> {{test2}} </span>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        msg: '',
        checked: false,
        tool: 'pen',
        need: '',
        fruit: ['banana'],
        answer: '',
        answers: [],
        test:'',
        test1:'',
        test2:''
      }
    })
  </script>
</body>

</html>